.app {
  background: #209cee;
  padding: 30px;
  height: 100vh;
}
.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
}

.todo {
  background: #ffffff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  box-sizing: border-box;
}
.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1em;
  height: 2.25em;
}

.editTodo {
  padding: 25px;
  background: #e8e8e8;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}
